<div class="about-container">

    <h1>Almaty Central Zoo, one of the oldest zoos in Kazakhstan and Central Asia, was founded in 1937. Located in the heart of Almaty, near the picturesque Medeu and Kok Tobe mountains, the zoo is home to a diverse collection of animals from around the world.
        With a mission to promote wildlife conservation, education, and research, the zoo houses over 300 species, including rare and endangered animals. Visitors can explore themed exhibits featuring majestic big cats, exotic birds, reptiles, and native
        Kazakh wildlife. In addition to being a popular attraction for families and tourists, the zoo actively participates in breeding programs and collaborates with international conservation organizations. The facility continues to modernize, improving
        enclosures and educational programs to provide a better experience for both animals and visitors. Almaty Central Zoo remains a cherished cultural and scientific institution, offering an engaging and educational experience for all ages.</h1>
</div>